<div class=" card">
  <mat-card class="example-card">
    <mat-card-title>Edit this employee</mat-card-title>
    <mat-card-content>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input #firstName matInput placeholder="First Name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input #lastName matInput placeholder="Last Name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button (click)="goBack()"
        (click)="editEmployee(firstName.value, lastName.value)">
        <mat-icon>check_circle</mat-icon>
        Save
      </button>
      <button mat-button (click)="goBack()"><mat-icon>highlight_off</mat-icon>Cancel</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</div>
